<html>
    <head>
        <title>Recipe Finding App</title>
    </head>
    <body>
        <h1>Recipe</h1>
        <h3><b>Name:</b> {{ data["name"] }}</h3>
        <p><b>ID:</b> {{ data["id"] }}</p>
        <p><b>Description:</b> {{ data["description"] }}</p>
        <p><b>Prepare Time</b> {{ data["prepareTime"] }}</p>
        <p><b>Ingredients:</b></p>
            {% for i in data["ingredients"] %}
            <p> <b>Name:</b> {{ i["name"]}}</p>
            {% endfor %}

        <br><br>
    </body>
</html>

